<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Lof_ShippingCalculator::shippingcalculator" sortOrder="10" title="shippingcalculator">
					<resource id="Lof_ShippingCalculator::shipping_index" sortOrder="10" title="shipping index"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
