<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * config
 *
 * @copyright Copyright © 2020 Landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lofshippingcalculator>
            <general>
                <enabled>1</enabled>
            </general>
            <appearance>
                <message/>
                <default_country/>
                <state_region/>
                <zip_postcode/>
                <cheapest_method_enable>1</cheapest_method_enable>
                <default_shipping_address_enable>1</default_shipping_address_enable>
            </appearance>
            <position_conditions>

            </position_conditions>
        </lofshippingcalculator>
    </default>
</config>