#block-shipping{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 450px;
    box-shadow: 0px 8px 25px -8px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.description-b-b{
    border-bottom: 0.5px solid rgba(155,155,155,0.21);
}
.shipping-p-20{
    padding: 20px;
}
.title-m-10{
    margin: 20px 0 20px 0;
    text-align:  center;
}
.m-t-b-10, .region-state-m-10{
    display: block;
    margin: 10px 0 10px 0;
}
.shipping-button{
    padding: 30px 0 20px 0;
    text-align: center;
}
.shipping-calculate-button{
    padding: 15px;
}
#shipping-estimate-results{
    padding-bottom: 10px;
    border: 1px dashed #1979c3;
}
#region-state-input{
    visibility: collapse;
}
